<!doctype html>
<html lang="en">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="css/home.css" rel="stylesheet" type="text/css">
<div class="container">
	<div class="row">
		<div class="col-md-4 static">
			<div class="profile-card">
					<h1
						style="color: #FFFFFF; position: center; float: left; margin-left: 30px; margin-right: 400px; margin-top: 5px;">SIGEVA</h1>
					<img style="float: left;"
						src="https://bootdey.com/img/Content/avatar/avatar1.png"
						alt="user" class="profile-photo">
					<h5>
						<a href="#" style="float: left;" class="text-white">Usuario</a>
					</h5>
			</div>
			
			
				<div div style="text-align: center;">
					<p style="font-weight: bold; margin: 10px 10px 10px;">Modificar centro</p>
					<p>Nombre&nbsp;&nbsp;<input type="text" data-bind="value : nombre" placeholder="Nombre">&nbsp;&nbsp;</p>
					<p>Dosis Totales&nbsp;&nbsp;<input type="text" data-bind="value : dosisTotales"
						placeholder="Dosis totales">&nbsp;&nbsp; </p>
					<p>Aforo&nbsp;&nbsp;<input type="text"
						data-bind="value : aforo" placeholder="Aforo">&nbsp;&nbsp; </p>
					<p>Hora inicio&nbsp;&nbsp;<input type="text"
						data-bind="value : horaInicio" placeholder="Hora Inicio">&nbsp;&nbsp; </p>
					<p>Hora fin&nbsp;&nbsp;<input type="text"
						data-bind="value : horaFin" placeholder="Hora Fin">&nbsp;&nbsp; </p>
					<p>Localidad&nbsp;&nbsp;<input type="text" data-bind="value : localidad"
						placeholder="Localidad">&nbsp;&nbsp; </p>
					<p>Provincia&nbsp;&nbsp;<input type="text"
						data-bind="value : provincia" placeholder="Provincia">&nbsp;&nbsp;</p>
						<oj-button chroming="callToAction" class="oj-button-sm"
							data-bind="click : modificarCentro" style="margin-top:3px;">Modificar
						Centro</oj-button>
						<div data-bind="html : error" style="color: red"></div>
						<div data-bind="html : message" style="color: blue"></div>
				</div>				
			
				</div>
			</div>
		</div>
	</div>
</div>
</div>